#!/usr/bin/make -f

export DH_VERBOSE = 1

%:
	dh $@

override_dh_auto_build:
	npm install --unsafe-perm
	npm run build

override_dh_auto_install:
	mkdir -p debian/webui/var/www/webui
	cp -a dist/* debian/webui/var/www/webui/
	mkdir -p debian/webui/etc/nginx/sites-available
	cp deploy/nginx.conf debian/webui/etc/nginx/sites-available/webui
	mkdir -p debian/webui/etc/nginx/ssl

override_dh_auto_clean:
	rm -rf dist node_modules
	dh_auto_clean
